
	<a href="#" class="list_link" data-id="<%= list.get('position') %>">
		<%= list.get('title') %>
	</a>

	
		<% list.get('cards').each(function(card){ %>
			<div class="cardDiv" id="list<%= list.id %>-card<%= card.id %>">
			<%= card.get('description') %>
			</div>
		<% }) %>
	
