<!DOCTYPE html>
<html>
<head>
  <title>MyTrello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


		<!-- render as partial? -->
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#link-list">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
		</button>
		<% if logged_in? %>
			<% main_link = "#" %>
		<% else %>
			<% main_link = "/" %>
		<% end %>
		<div id="titleDiv">
			<a href="<%= main_link %>" class="navbar-brand nav-logo">
				<%= image_tag("BearTask-logo-2.png", :class => "logo_image") %>
			</a>
		</div>

	</div>
	<div class="collapse navbar-collapse" id="link_list">
		<ul class="nav navbar-nav">
			<% if logged_in? %>
			<li class="navLi">
				<a href="#" id="home_link">Boards</a>
			</li>
			<li class="dropdown navLi">
				<a href="#" class="dropdown_toggle" data-toggle="dropdown">
					<%= current_user.username %>
					<b class="caret"></b>
				</a>

				<ul class="dropdown-menu">
					<!-- ><li><a href="<%= user_url(current_user.id) %>">
						Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li> -->
					<li><%= link_to "Log Out", session_url,
								:method => :delete %> </li>
				</ul>

			</li>
			<% else %>

			<li class="navLi">
				<a href="<%= new_session_url %>">Log In</a>
			</li>
			<li class="navLi">
				<a href="<%= new_user_url %>">Sign Up</a>
			</li>

			<% end %>

		</ul>


	</div>

</nav>




<% if flash.now[:errors] %>
<ul>
	<% flash.now[:errors].each do |err| %>
		<li><%= err %>
	<% end %>
</ul>
<% end %>

<%= yield %>


<br><br><br>
<script type="text/data" id="form_authenticity_token">
  <%= form_authenticity_token.html_safe %>
</script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</body>
</html>
