<!DOCTYPE html>
<html>
<head>
  <title>MyTrello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- modal code here for sign in -->

	<% if logged_in? %>
		<!-- render as partial? -->
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" 
						data-target="#link-list">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Brand</a>
	</div>
	<div class="collapse navbar-collapse" id="link_list">
		<ul class="nav navbar-nav">
			<li>
				<a href="<%= root_url %>" id="home_link">Boards</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown_toggle" data-toggle="dropdown">
					<%= current_user.username %>
					<b class="caret"></b>
				</a>

				<ul class="dropdown-menu">
					<li><a href="<%= user_url(current_user.id) %>">
						Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li>
					<li><%= link_to "Log Out", session_url, 
								:method => :delete %> </li>
				</ul>

			</li>

		</ul>


	</div>
</nav>

	<% end %>


<% if flash.now[:errors] %>
<ul>
	<% flash.now[:errors].each do |err| %>
		<li><%= err %>
	<% end %>
</ul>
<% end %>

<%= yield %>


<br><br><br>

</body>
</html>
