<!DOCTYPE html>
<html>
<head>
  <title>MyTrello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<br><br><br>
<% if logged_in? %>
	<p> Logged in! <%= current_user.username %></p>
<% else %>
	<p> Log in? </p>
<% end %>
</body>
</html>
